[core]
        legacyheaders = false # >git 1.5
        quotepath = false
[merge]
        tool = p4merge
[mergetool "p4merge"]
        path = C:/Program Files/Perforce/p4merge.exe
        keepTemporaries = false
        trustExitCode = false
[mergetool]
        keepBackup = false
        prompt = false
[color]
        ui = true
        interactive = auto
[alias]
        s = status
        a = !git add . && git status
        au = !git add -u && git status
        aa = !git add . && git add -u && git status
        c = commit
        cm = commit -m
        l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
        ll = log --stat --abbrev-commit
        alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
        